<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC93IDTjYWvm0wRxdUbtnRge9UQDUhRfS8</string>
	<key>GCM_SENDER_ID</key>
	<string>546201676053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notifications</string>
	<key>PROJECT_ID</key>
	<string>notificationtest-35525</string>
	<key>STORAGE_BUCKET</key>
	<string>notificationtest-35525.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546201676053:ios:8fb22db8557be23738611c</string>
</dict>
</plist>